#imgl{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 999; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: -100px;
    width: 100%; /* Full width */
    margin:0 auto; 
    padding-bottom: 20px;
    overflow: auto; 
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.1); Black w/ opacity */
    border: 3px white solid;
}



#card-img{
    width: 20%;
}

body{
    background-color:#f7f7f7;
}